@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg-color: #9CDBA6;
  --primary-color: #468585;
  --secundary-color: #DEF9C4;
  --font: Josefin Sans;
}
